@font-face {
	font-family: LeagueGothic;
	src: url('LEAGUEGOTHIC-REGULAR.OTF');
}

@font-face {
	font-family: MinionPro;
	src: url('MinionPro-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: MinionPro;
	src: url('MinionPro-Semibold.otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: MinionPro;
	src: url('MinionPro-It.otf');
	font-weight: normal;
	font-style: italic;
}

html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: #F8F8F8;
	font-family: MinionPro, 'Minion Pro', 'Hoefler Text', serif;
}

#header {
	padding: 0;
	margin: 0;
	font-family: LeagueGothic, MinionPro, 'Minion Pro', 'Hoefler Text', serif;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 24px;
}

#header img {
	border: 0;
	margin: 0;
	padding: 0;
	float: left;
	padding-right: 20px;
	padding-top: 5px;
}

#title {
	float: left;
}

#header h1 {
	padding: 0px;
	margin: 0px;
	padding-top: 10px;
	letter-spacing: 0px;
	word-spacing: 0px;
	font-size: 55px;
	font-weight: 300;
	line-height: 50px;
}

#header h1 a {
	text-decoration: none;
	color: #000000;
}

#header h2 {
	padding: 0px;
	margin: 0px;
	font-weight: 200;
	font-size: 36px;
	line-height: 1;
}

#header h2 a {
	text-decoration: none;
	color: #202020;
}

#header h2 a:hover {
	color: #a217b3;
}

#links {
	margin: 0;
	padding: 0;
	padding-top: 5px;
	float: right;
}

#links img {
	border: 0;
	margin: 0;
	padding: 0;
	margin-left: 5px;
	margin-bottom: 5px;
}

#smallinfo {
	display: none;
	clear: both;
	padding-top: 20px;
	font-size: 20px;
	font-family: MinionPro, 'Minion Pro', 'Hoefler Text', serif;
}

#smallinfo a {
	text-decoration: none;
	color: #202020;
}

#info {
	clear: both;
	padding-top: 0px;
	font-size: 20px;
	padding-left: 170px;
	font-family: MinionPro, 'Minion Pro', 'Hoefler Text', serif;
}

#info a {
	text-decoration: none;
	color: #a217b3;
}

#info a:hover {
	color: #202020;
}

#lowercontainer {
	clear: both;
	padding-top: 32px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#lowercontainer h1 {
	text-align: center;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
}

#nav {
	padding: 0;
	margin: 0;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border:1px solid #ccc;
	border-width:1px 0;
}

#nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

#nav li {
	text-decoration: none;
	color: black;
	display: inline-block;
	/* font-family:LeagueGothic, sans-serif;
	font-size: 36px; 
	letter-spacing: 1px; */
	font-family: MinionPro, 'Minion Pro', 'Hoefler Text', serif;;
	/* font-family: 'Roboto Slab'; */
	font-size: 22px;
	position: relative;
	text-transform:uppercase;
}

#nav a {
	text-decoration: none;
	color: #a217b3;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 18px;
	padding-right: 18px;
}

#nav a:hover {
	color: black;
}

#navwrap {
	white-space: nowrap;
}

.photo {
	clear: both;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	text-align: center;
	padding-bottom: 15px;
	color: gray;
	font-size: 14px;
}

.photo img {
	max-width: 90%;
}

.photo p {
	padding: 0;
	margin: 0;
}

.photo a {
	color: gray;
	text-decoration: none;
}

.photo a:hover {
	text-decoration: underline;
	color: #a217b3;
}

.content {
	margin: 0;
	padding: 0;
	width: 450px;
	font-size: 1.2em;
	text-align: justify;
	float: left;
	padding-left: 25px;
	padding-right: 25px;
}

.content2 {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.content h1 {
	text-align: center;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
}

.content h2 {
	padding: 0px;
	margin: 0px;
}

.content h3 {
	font-weight: normal;
	font-size: 16px;
	color: gray;
	padding: 0px;
	margin: 0px;
}

.content a {
	color: #a217b3;
	text-decoration: none;
}

.content a:hover {
	text-decoration: underline;
}

#footer {
	clear: both;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border-top:1px solid #ccc;
	margin-top: 10px;
	border-width:1px 0;
}

#footer p {
	text-align: center;
}

#footer p a {
	color: black;
}

#footer p a:hover {
	color: #a217b3;
}